body {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/makima.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: white;
    padding: 0;
    margin: 0;
}

.hero-box{
    width: 800px;
    height: 200px;
    padding: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.hero {
    font-size: 3rem;
    word-spacing: 15px;
}

.hero-sub {
    font-size: large;
    margin-bottom: 25px;
}

button {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #1c1c1c;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    transition: background-color .5s ease-in-out;
}

button:hover {
    background-color: #1c1c1c;
    border: 2px solid #f5f5f5;
    box-shadow: 2px 3px 5px #ff6600;
}

button:active {
    text-decoration: none;
    box-shadow: none;
}

a:link{
    color: rgb(11, 10, 10);
    text-decoration: none;
    transition: all .5s ease-in-out;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

a:active {
    color: #1c1c1c;
    text-decoration: underline;
}
